* {
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-between;
}

header{
    box-shadow: 16px 8px 16px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

header .title-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1em;
}

header .title-logo p{
    margin-top: 0;
    margin-bottom: 0;
}

header .title-logo img {
    margin-right: 10px;
    height: 4em;
    width: auto;
    animation: hithere 1s ease;
}
@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}


header a{
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid #999;
    color: #000;

}

header ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
header li a {
    border: 0;
}
header li:hover{
    background: whitesmoke;
    border-radius: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: 550;
    padding: 3em;
}

.dropdown input{
    display: none;
}

.dropdown label{
    cursor: pointer;
}

.dropdown .button{
    display: inline-block; 
    width: 5rem;
    height: 5rem;
}

/* draw the hamburger */
.dropdown .hamburger {
    content: "";
    position: relative;
    border-radius: 20px;
    background-color: #555;
    width: 3rem;
    height: 0.3rem;
    display: block;
    top: 50%;
    left: 25%;
    transition: background-color 0.3s ease;
}
.dropdown .hamburger::before,
.dropdown .hamburger::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    background-color: #555;
    width: 3rem;
    height: .3rem;
    display: block;
    transition: transform 0.3s ease;
}

/* allign hamburger lines */
.dropdown .hamburger::before {
    top: -0.7rem;
}

.dropdown .hamburger::after {
    top: 0.7rem;
}

/* animate the hamburger */
.dropdown input:checked ~ label .button .hamburger::before{
    transform: translateY(0.7rem) rotate(-45deg);
}
.dropdown input:checked ~ label .button .hamburger::after{
    transform: translateY(-0.7rem) rotate(45deg);
}
.dropdown input:checked ~ label .button .hamburger{
    background-color: transparent;
}

.dropdown input:checked ~ .dropdown-content{
    opacity: 1;
    visibility: visible;
}

.dropdown-content {
    position: absolute;
    background-color: rgb(226, 226, 226);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
    border-radius: 20px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.dropdown-content ul{
    display: flex;
    flex-direction: column;
}

main{
    box-shadow: 16px 8px 16px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

main h2{
    padding: 1em;
}

main p{
    font-size: 18px;
    margin-left: 2em;
    margin-right: 2em;
}

main a, main a:visited, footer a, footer a:visited{
    text-decoration: underline;
    color: #555;
}

main a:hover, footer a:hover{
    color: #000;
}

.faq-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    align-self: center;
}

.faq-item label{
    font-size: 18px;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: bold;
}

.faq-item input {
    display: none;
}

.faq-item label:hover{
    cursor: pointer;
}

.faq-item .answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq-item .answer p{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.faq-item input:checked ~ .answer {
    max-height: 500px;
}

.faq-item label {
    position: relative;
    padding-left: 2em;  /* make space for plus sign */
}

/* begin drawing the plus sign */
.faq-item label::before,
.faq-item label::after {
    content: "";
    position: absolute;
    background-color: #555;
    width: 1.25rem;
    height: .125rem;
    left: 0;
    top: 50%;
}

/* perform animations when clicking on the questions */
.faq-item input:checked ~ label::before {
    transform: rotate(-180deg);
    animation: rotateH .5s ease;
}
.faq-item input:checked ~ label::after {
    transform: rotate(0deg);
    animation: rotateV .5s ease;
}

.faq-item input:not(:checked) ~ label::before {
    animation: rotateHBack .5s ease forwards;
}
.faq-item input:not(:checked) ~ label::after {
    animation: rotateVBack .5s ease forwards;
}

@keyframes rotateH{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}
@keyframes rotateV{
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotateHBack {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes rotateVBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

footer{
    box-shadow: 16px 8px 16px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

footer p{
    color: #555;
    font-size: 18px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

@media only screen and (max-width: 610px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .title-logo {
        font-size: 120%;
        padding: 0.5em;
    }

    header .title-logo img {
        height: 3em;
    }

    header ul {
        flex-direction: column;
    }

    .dropdown{
        padding: 1em;
    }

    .dropdown-content{
        left: 0;
    }

}