* {
    -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-between;
}

header{
    box-shadow: 16px 8px 16px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

header .title-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1em;
}

header .title-logo p{
    margin-top: 0;
    margin-bottom: 0;
}

header .title-logo img {
    margin-right: 10px;
    height: 4em;
    width: auto;
    animation: hithere 1s ease;
}
@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}


header a{
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid #999;
    color: #000;
}

header ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
header li a {
    border: 0;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
header li:hover{
    background: whitesmoke;
    border-radius: 15px;
}

header .menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    user-select: none;
}

header #avatar{
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    width: 80px;
}

header #avatar:hover{
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: 550;
    padding: 3em;
    padding-left: 0;
    user-select: none;
}

#avatarDropdown{
    padding-right: 0;
}

header #menu, header #avatarMenu{
    display: none;
}

header #avatarMenu:checked ~ .dropdown-content{
    opacity: 1;
    visibility: visible;
}

.dropdown label{
    cursor: pointer;
}

.dropdown .button{
    display: inline-block; 
    width: 5rem;
    height: 5rem;
}

/* draw the hamburger */
.dropdown .hamburger {
    content: "";
    position: relative;
    border-radius: 20px;
    background-color: #555;
    width: 3rem;
    height: 0.3rem;
    display: block;
    top: 50%;
    left: 25%;
    transition: background-color 0.3s ease;
}
.dropdown .hamburger::before,
.dropdown .hamburger::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    background-color: #555;
    width: 3rem;
    height: .3rem;
    display: block;
    transition: transform 0.3s ease;
}

/* allign hamburger lines */
.dropdown .hamburger::before {
    top: -0.7rem;
}

.dropdown .hamburger::after {
    top: 0.7rem;
}

/* animate the hamburger */
.dropdown #menu:checked ~ label .button .hamburger::before{
    transform: translateY(0.7rem) rotate(-45deg);
}
.dropdown #menu:checked ~ label .button .hamburger::after{
    transform: translateY(-0.7rem) rotate(45deg);
}
.dropdown #menu:checked ~ label .button .hamburger{
    background-color: transparent;
}

.dropdown #menu:checked ~ .dropdown-content{
    opacity: 1;
    visibility: visible;
}

.dropdown-content {
    position: absolute;
    background-color: rgb(226, 226, 226);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
    border-radius: 20px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.dropdown-content ul{
    display: flex;
    flex-direction: column;
}

main{
    box-shadow: 16px 8px 16px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: scroll;
}

main h2{
    padding: 1em;
}

main p{
    font-size: 18px;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.1em;
}

main .highlight{
    font-weight: bold;
    color: black;
    animation: pulsate 2s infinite;
}

main a, main a:visited, footer a, footer a:visited{
    text-decoration: underline;
    color: #555;
}

main a:hover, footer a:hover{
    color: #000;
}

main .button{
    padding: 1em;
    cursor: pointer;
    width: 85px;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin: 1em;
    user-select: none;
}

main .purchasedKeys{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    padding: 1em;
}

main table {
    width: 100%;
    border-collapse: collapse;
}

main th, main td {
    padding: 0.5em;
    border: 1px solid #555;
    text-align: center;
}

main th {
    background-color: #a8a8a8;
    font-weight: bold;
}

main tr:nth-child(even) {
    background-color: #dddddd;
}

main tr:hover {
    background-color: #a8a8a8;
}

.keyTd {
    position: relative;
    padding-right: 30px; /* Add space for the clipboard symbol */
}

.keyTd .clipboard-symbol {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#info-box{
    /* don't display until pressed and make the box appear to the right of the i symbol */
    display: none;
    max-width: 300px;
    position: absolute;
    background-color: #cfcfcf;
    border-radius: 25px;
}

#info-box p{
    padding: 1em;
    margin: 0;
}

#infoSymbol{
    cursor: pointer;
}


footer{
    box-shadow: 16px 8px 16px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

footer p{
    color: #555;
    font-size: 18px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

@media only screen and (min-width: 610px){
    ::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 610px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .title-logo {
        font-size: 120%;
        padding: 0.5em;
    }

    header .title-logo img {
        height: 3em;
    }

    header ul {
        flex-direction: column;
    }

    header #avatar{
        width: 55px;
    }

    .dropdown{
        padding: 1em;
        padding-left: 0;
    }

    .dropdown-content{
        left: 0;
    }

}